---
import HomeContainer from '../components/react/HomeContainer';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Bull Films'>
  <main>
    <HomeContainer client:load />
  </main>
</Layout>
