---
import Layout from '../layouts/Layout.astro';
import HomeContainer from '../components/react/HomeContainer';
---

<Layout title='Home - Bull Movies'>
  <main>
    <HomeContainer client:load />
  </main>
</Layout>
