---
import type { MovieDetail } from '../types';
import Layout from '../layouts/Layout.astro';

export const prerender = false;

const id = Astro.url.searchParams.get('id') || '';

const response = await fetch(
  `https://api.themoviedb.org/3/movie/${id}?language=en-US`,
  {
    method: 'GET',
    headers: {
      accept: 'application/json',
      Authorization: `Bearer ${import.meta.env.PUBLIC_TMDB_ACCESS_TOKEN}`,
    },
  },
);
const movie: MovieDetail = await response.json();
---

<Layout title='Home - Bull Films'>
  <main>
    <img src={`https://image.tmdb.org/t/p/original/${movie.poster_path}`} />
  </main>
</Layout>
