<nav class='px-4 py-2 bg-slate-700'>
  <div class='flex flex-row justify-between items-center mx-4 lg:mx-20'>
    <a href='/'><img src='/bull.png' class='h-16 min-w-fit' /></a>
    <div class='flex flex-row gap-4'>
      <a href='/watched/' class='cursor-pointer hover:opacity-70'
        >Watched Movies</a
      >
      <a href='/watchlist/' class='cursor-pointer hover:opacity-70'>Watchlist</a
      >
    </div>
  </div>
</nav>
