<nav class='px-4 py-2 bg-slate-700'>
  <div
    class='flex flex-row justify-between items-center max-w-screen-xl mx-auto'
  >
    <img src='/bull.png' class='h-16 min-w-fit' />
    <p class='cursor-pointer hover:opacity-70 px-2'>Profile</p>
  </div>
</nav>
