---
import type { Movie } from '../types';

interface Props {
  movie: Movie;
}

const { movie } = Astro.props;
---

<div
  class='col-span-1 flex flex-col items-center gap-2 hover:opacity-60 cursor-pointer'
>
  <img
    class='w-auto h-80'
    src={`https://image.tmdb.org/t/p/original/${movie.poster_path}`}
  />
  <p class='text-sm leading-8 truncate'>{movie.title}</p>
</div>
